/* table.css */

/* Table container styles */
.table-container {
  width: 100%;
  overflow-x: auto;
}

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  cursor: pointer; /* Make the header cells clickable */
}

.table th.sortable:hover {
  background-color: #ddd; /* Change background color on hover */
}

.table th:first-child {
  border-top-left-radius: 5px;
}

.table th:last-child {
  border-top-right-radius: 5px;
}

.table td:last-child {
  border-bottom-left-radius: 5px;
}

/* Action buttons styles */
.action-buttons {
  display: flex;
}

.edit-button,
.delete-button {
  padding: 6px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-button {
  background-color: #007bff;
  color: #fff;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .table-container {
    overflow-x: auto;
  }

  .table th,
  .table td {
    font-size: 12px;
    padding: 6px;
  }
}
